@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
/* member1 배경색 */
body.member1{
    background-color: #ebfaff;
}
body.member2{
    background-color: #edffeb;
}
body.member3{
    background-color: #ffebee;
}
body.member4{
    background-color: #ffebf9;
}
/* 프로필 카드 전체 영역 */
section{
    width: 390px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
/* 상단 메뉴 */
.menu{
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: #aaa;
    font-size: 20px;
}
/* 프로필 영역 */
.profile{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
/* 이미지 */
.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}
.member2 .profile-img {
    box-shadow: 5px 15px 30px rgba(178, 230, 173, 0.8);
}
.member3 .profile-img {
    box-shadow: 5px 15px 30px rgba(230, 173, 176, 0.8);
}
.member4 .profile-img {
    box-shadow: 5px 15px 30px rgba(204, 173, 230, 0.8);
}
.profile-img img{
    width: 100%;
    transition: all 0.5s;
}
.profile-img:hover img{
    transform: scale(1.1);
    cursor: pointer;
}
/* 이름 */
.profile-text h1{
    font-size: 21px;
    color: #555;
    text-transform: uppercase;
}

.profile-text p{
    font-size: 12px;
    color: #9a9a9a;
}
/* 더보기 버튼 */
.btn-view{
    color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
    background:linear-gradient(45deg, #10fcf0, #7592fc);
    box-shadow: 10px 5px 20px rgba(0, 255, 255, 0.6);
}
body.member2 .btn-view{
    background:linear-gradient(45deg, #08b851, #75fcdf);
    box-shadow: 10px 5px 20px rgba(0, 255, 98, 0.6);
}
body.member3 .btn-view{
    background:linear-gradient(45deg, #e29ffd, #aa0722);
    box-shadow: 10px 5px 20px rgba(255, 0, 98, 0.6);
}
body.member4 .btn-view{
    background:linear-gradient(45deg, #ad9ffd, #0a07aa);
    box-shadow: 10px 5px 20px rgba(132, 0, 255, 0.6);
}
/* 연락처 영역 */
.link-contack{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.contack{
    width: 200px;
}
.contack li{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.contack li:last-child{
    border: none;
}
.contack li i{
    font-size: 14px;
    color: #555;
    text-shadow: 2px 2px 2px #ddd;
}

.contack li span{
    color: #777;
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
}
.fa-solid{
    display: block;
    font-size: 16px;
}
.fa-facebook-f::before {
  display: block;
  width: 14px;
}
/* 멤버별 프로필 링크 만들기 */
.others{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.others a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e8a9f3;
    opacity: 0.4;
    filter: saturate(0.7);
}
.others a:nth-of-type(1){
    background-color: #35e0f7;
}
.others a:nth-of-type(2){
    background-color: #55f5cd;
}
.others a:nth-of-type(3){
    background-color: #e8a9f3;
}
.others a:nth-of-type(4){
    background-color: #a794fd;
}
.others a.on{
    opacity: 1;
    filter: saturate(1);
}